{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Specer Template">
    <meta name="keywords" content="Specer, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red Line</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <style>
        .match-section .ms-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .match-section .mc-table {
            flex: 1;
            min-height: 150px;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 15px;
        }
        .match-section .mc-table table {
            width: 100%;
            height: 100%;
        }
        .match-section .mc-table td {
            vertical-align: middle;
        }
        .match-section .left-team img,
        .match-section .right-team img {
            width: 60px;
            height: 60px;
            object-fit: contain;
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        
        <div class="header__nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="./index.html"><img src="{% static 'img/redline.jpg' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <ul class="main-menu">
                                <li class="active"><a href="./index.html">Home</a></li>
                                <li><a href="./club.html">Matches</a></li>
                                <li><a href="./schedule.html">Results</a></li>
                                <li><a href="./result.html">News</a></li>
                            </ul>
                            <div class="nm-right search-switch">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canvas-open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="{% static 'img/hero/hero-1.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hs-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hs-text">
                                        <h4>30 september 2019 / 9:00 GMT+0000</h4>
                                        <h2>Airrosten VS Lerenort in London</h2>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->   

    

    <!-- Match Section Begin -->
    <section class="match-section set-bg" data-setbg="{% static 'img/match/match-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3>Next <span>Matches</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ms-content">
                        {% for partido in partidos|slice:":3" %}
                        <div class="mc-table">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="left-team">
                                            <img src="{{ partido.localImg }}" alt="">
                                            <h6>{{ partido.local }}</h6>
                                        </td>
                                        <td class="mt-content">
                                            <div class="mc-op">{{ partido.local }} vs {{ partido.visit }}</div>
                                            <h4>{{ partido.goleslocal }} : {{ partido.golesvisitante }}</h4>
                                            <div class="mc-op">{{ partido.date }}</div>
                                        </td>
                                        <td class="right-team">
                                            <img src="{{ partido.visitImg }}" alt="">
                                            <h6>{{ partido.visit }}</h6>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ms-content">
                        {% for partido in partidos|slice:"3:" %}
                        <div class="mc-table">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="left-team">
                                            <img src="{{ partido.localImg }}" alt="">
                                            <h6>{{ partido.local }}</h6>
                                        </td>
                                        <td class="mt-content">
                                            <div class="mc-op">{{ partido.local }} vs {{ partido.visit }}</div>
                                            <h4>{{ partido.goleslocal }} : {{ partido.golesvisitante }}</h4>
                                            <div class="mc-op">{{ partido.date }}</div>
                                        </td>
                                        <td class="right-team">
                                            <img src="{{ partido.visitImg }}" alt="">
                                            <h6>{{ partido.visit }}</h6>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Match Section End -->
    <br>
    <!-- Video Section Begin -->
    <section class="video-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3>F1 <span>Drivers</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="video-slider owl-carousel">
                    {% if drivers %}
                    {% for driver in drivers %}
                    <div class="col-lg-3">
                        <div class="soccer-item set-bg" data-setbg="{% static 'img/soccer/soccer-1.jpg' %}">
                            <div class="si-tag">F1 Driver</div>
                            <div class="si-text">
                                <h5><a href="{{driver.url}}">{{driver.name}} {{driver.surname}}</a></h5>
                                <ul>
                                    <li><i class="fa fa-calendar"></i> {{ driver.nationality }}</li>
                                    <li><i class="fa fa-edit"></i> {{ driver.birthday }}</li>
                                    <li><i class="fa fa-car"></i> {{ driver.teamId }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                        <p>No hay datos disponibles en este momento.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Video Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section set-bg" data-setbg="{% static 'img/footer-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="fs-logo">
                        <ul>
                            <li><i class="fa fa-envelope"></i> eduardoydaniel@papulandia.com</li>
                            <li><i class="fa fa-copy"></i> 614 231 21 56</li>
                            <li><i class="fa fa-thumb-tack"></i> Papulandia, utch bis</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="fa fa-close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>